PORT=3000
NODE_ENV=development

DB_HOST=66.116.225.237
DB_PORT=3306
DB_USER=remoteuser
DB_PASSWORD=Strong@12345
DB_NAME=sis_global

JWT_SECRET=replace_me
JWT_EXPIRES_IN=1d

# Only for first-time setup (creates first admin user if users table is empty)
ALLOW_BOOTSTRAP=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=StrongMinioPassword123
MINIO_ENDPOINT=66.116.225.237:9000
MINIO_USE_SSL=false
MINIO_BUCKET=sis

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=adityaitesco@gmail.com
SMTP_PASS=hzfg yzda mjzj awpt
SMTP_FROM=adityaitesco@gmail.com
